body {
  margin: 0;
  padding: 0;
  background-image: url(../src/images/wallper-pokemons.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.tittle{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 4%;
}

.helpBotton{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  margin-top: 2%;
  margin-right: 5%;
}

.bottonFind{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.inputPoke{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 2%;
}

#namePoke{
  border-radius: 5px;
}

.bottonPokelist{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 2%;
}

.bottonsSectionFind{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 2%;
}

.button1 {
  margin: 0;
  display: flex;
  background-color:#79C9FA;
  border-radius: 10px;
  border-width: 2px;  
}

.button2{
  margin: 0;
  display: flex;
  background-color:#79C9FA;
  border-radius: 10px;
  border-width: 2px; 
}

.listaPoke{
  display: flex;
  background: rgba(237,237,237,0.89);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.searchPokemon{
  display: flex;
  background: rgba(237,237,237,0.89);
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  border-radius: 10px;
  text-align: center;
}

.typesOfPokemons{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.PokeTypeBottons{
  display: flex;
  background-color: rgba(248, 242, 242, 0.8);
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

.typeButton{
  border-radius: 50%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 4%;
  margin-top: 3%;
}

.bottonsList{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.buttonsPokelist2{
  margin-top: 2.5%;
  margin-left: 2%;
}
     
/*Estilos para Flip Card*/
.card-container {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(5, 187, 243, 0.2);
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.side, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.side {
  background-color: rgba(120, 75, 141, 0.562);
  color: rgb(5, 5, 5);
}

.back {
  background-color: rgb(101, 176, 206);
  color: rgb(253, 253, 253);
  transform: rotateY(180deg);
}