
body {
    background: url("https://github.com/CaroMG/GDL002-data-lovers/blob/master/src/images/background.jpg?raw=true");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    background-attachment: fixed;
    margin: 0;
    
} 

@media only screen and (max-width: 500px) {
    body{
        background : url("http://subirimagen.me/uploads/20190222090147.jpg");
        height: 100vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-top: 50%;
    }
  }


  .flexBox {
     display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20%;
    align-items: center;

  }

  .button1 {
        background-color: rgba(94, 107, 116, 0.8);
        font-family: "helvetica";
        font-size: 1.0rem;
        color: white;
        border: 0px solid white;
        border-radius: 8px;
        padding-top: 7px;
        padding-right: 20px;
        padding-bottom: 7px;
        padding-left: 20px;
        text-align: center;
        width:30%;
        height:40%;
        -webkit-box-align: center;
}


.messageBox {
    width:20%;
    height:30%;


}