* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://github.com/March-Hdz-Carba/GDL002-data-lovers/blob/master/src/images/background.jpg?raw=true);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}    

@media only screen and (max-width:1024px) {
    body{
        background-image: url(https://github.com/March-Hdz-Carba/GDL002-data-lovers/blob/master/src/images/backgroundcel.png?raw=true);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
};
 

.listaPoke{
    display: flex;
    background: black;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20%;
  }

  .button1 {
        background-color:#79C9FA;
      
};

.buttonHelp{
        flex-direction: flex-end;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items:flex-end ;
        border-collapse: collapse;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 3%;
        margin-left: 30%;
}

.messageBox {
    width: 20%;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15%;
    margin-left: 20%;
    align-items: center;
}

.typesOfPokemons{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


/*Estilos para Flip Card*/
.card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    height: 150px;
    perspective: 600;
    position: relative;
    width: 250px;
    padding: 20px;
    margin: auto;
  }

div.col{
    display:table-col;
    padding: 10px;
    background-color:#79C9FA; 
    justify-content: flex-end;
    
  }
  div.col  h1{
    text-align:center;
  }
  
  div.cambiar
  {
    margin: 50px auto;
    width: 250px;
    height: 150px;
    background: #333D42;
    color: #79C9FAff;
    font-weight: 900;
    font-size: 1.4em;
    text-align: center;
    line-height: 150px;
    transition: all 0.3s ease;
  }
  .cambiar:hover
  {
    background:#a5aba1;
    /* color:#494c46; */
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    box-shadow: inset 0 0 0 3px #555953;
  }
  
  .producto {
      width: 300px;
      height: 200px;
      margin: 0 auto;
      border: 10px solid #79C9FA;
      overflow: hidden;
      position: relative;
      text-align: center;
      box-shadow: 1px 1px 2px #79C9FA;
  /* cursor: default;
      background: #fff url(../images/bgimg.jpg) no-repeat center center*/
  }
  .producto .mask, .producto .content {
      width: 300px;
      height: 200px;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0
  }
  .producto img {
      display: block;
      position: relative
  }
  .producto h2 {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: relative;
      font-size: 17px;
      padding: 10px;
      background: rgba(0, 0, 0, 0.8);
      margin: 20px 0 0 0
  }
  .producto p {
      font-family: Georgia, serif;
      font-style: italic;
      font-size: 14px;
      position: relative;
      color: #fff;
      padding: 10px 20px 20px;
      text-align: center
  }
  .producto a.info {
      display: inline-block;
      text-decoration: none;
      padding: 7px 14px;
      background: #000;
      color: #fff;
      text-transform: uppercase;
      box-shadow: 0 0 1px #000;
  }
  
  .producto a.info:hover {
      box-shadow: 0 0 10px #000;
  }
  /* clases para el primer producto  */
  .prod-first img {
     -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     -ms-transition: all 0.2s linear;
     transition: all 0.2s linear;
  }
  .prod-first .mask {
     -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
     filter: alpha(opacity=0);
     opacity: 0;
     background-color: #79C9FA(179,207,8, 0.7);
    /* background-color: rgba(219,127,8, 0.7); */
     -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
     -o-transition: all 0.4s ease-in-out;
     -ms-transition: all 0.4s ease-in-out;
     transition: all 0.4s ease-in-out;
  }
  .prod-first h2 {
     -webkit-transform: translateY(-100px);
     -moz-transform: translateY(-100px);
     -o-transform: translateY(-100px);
     -ms-transform: translateY(-100px);
     transform: translateY(-100px);
     -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
     filter: alpha(opacity=0);
     opacity: 0;
     -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
     -o-transition: all 0.2s ease-in-out;
     -ms-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
  }
  .prod-first p {
     -webkit-transform: translateY(100px);
     -moz-transform: translateY(100px);
     -o-transform: translateY(100px);
     -ms-transform: translateY(100px);
     transform: translateY(100px);
     -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
     filter: alpha(opacity=0);
     opacity: 0;
     -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     -ms-transition: all 0.2s linear;
     transition: all 0.2s linear;
  }
  .prod-first:hover img {
     -webkit-transform: scale(1.1,1.1);
     -moz-transform: scale(1.1,1.1);
     -o-transform: scale(1.1,1.1);
     -ms-transform: scale(1.1,1.1);
     transform: scale(1.1,1.1);
  }
  .prod-first a.info {
     -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
     filter: alpha(opacity=0);
     opacity: 0;
     -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
     -o-transition: all 0.2s ease-in-out;
     -ms-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
  }
  .prod-first:hover .mask {
     -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
     filter: alpha(opacity=100);
     opacity: 1;
  }
  .prod-first:hover h2,
  .prod-first:hover p,
  .prod-first:hover a.info {
     -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
     filter: alpha(opacity=100);
     opacity: 1;
     -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
     -o-transform: translateY(0px);
     -ms-transform: translateY(0px);
     transform: translateY(0px);
  }
  .prod-first:hover p {
     -webkit-transition-delay: 0.1s;
     -moz-transition-delay: 0.1s;
     -o-transition-delay: 0.1s;
     -ms-transition-delay: 0.1s;
     transition-delay: 0.1s;
  }
  .prod-first:hover a.info {
     -webkit-transition-delay: 0.2s;
     -moz-transition-delay: 0.2s;
     -o-transition-delay: 0.2s;
     -ms-transition-delay: 0.2s;
     transition-delay: 0.2s;
  }
                  

  .card {
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    padding: 20px;
    height: 200px;
    width: 180px;
    display: flex;
    flex-direction: row
  }
  .card:hover {
    transform: rotateY(180deg);
  }
  .card .side {
    display: block;  
    border-radius: 6px;
    position: absolute;
    overflow: hidden;
    height: 200px;
    width: 180px;
    align-self: auto;
  }
  .card .back {
    background: #eaeaed;
    color: #0087cc;
    line-height: 20px;
    text-align: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    height: 200px;
    width: 180px;
  }

 
